.contact {
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 40px 20px;

  background-color: #0f172a;
  color: white;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact p {
  max-width: 700px;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #cbd5e1;
}

/* Mobile */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 2rem;
  }

  .contact p {
    font-size: 1rem;
  }
}